
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;

    }
    :root {
      --sec-color : #4c6ca0;
      --bg-color : rgb(166, 158, 212);
    }
    
    .clr{
      clear: both;
    }
    body{
      background-color: var(--bg-color);
      font-family: Arial, Helvetica, sans-serif;
    }
    /* navbar  */
    .navbar{
      list-style: none;
      display: flex;
      text-align: center;
      align-items: center;
      padding: 20px;
      justify-content: space-between;
      background: var(--sec-color);
      border-radius: 5px;
    }

    .navbar li a{
      padding: 20px;
      color: white;
      text-decoration: none;
      
    }
    .navbar li a:hover{
      background-color: #446190;
      color: white;
    }

    header{
      text-align: center;
      /* border: 3px red solid; */
      
    }
    .img {
      margin: auto;
      width: 50%;
      /* border: 3px solid green; */
      /* padding: 10px; */
    }
    #listOfSocial{
      
      text-align: center;
      /* border: 3px green solid; */
      float: right;
      width: 39%;
      padding: 10px;
      margin: 10px;
    }
    #listOfSocial li{
      list-style: none;
    }
    #description{
      
      text-align: center;
      /* border: 3px green solid; */
      float: left;
      padding: 10px;
      margin: 10px;
      width: 43%;
      
    }
    .img {
      
      
      /* float: left; */
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;

    }
    #btn{
      text-align: center;
    }
