.grid {
  display: grid;
  grid-template-columns: repeat(8,auto);
  grid-template-rows: repeat(6,auto);
}
.grid >img {
  background: #333;
  width: 100%;
  height: 100%;
}
.grid>img:nth-child(1){
  grid-row: span 2;
  grid-column: span 2;

}
.grid>img:nth-child(2){
  grid-row: span 3;
  grid-column: span 3;
}
.grid>img:nth-child(4){
  grid-row: span 2;
  grid-column: span 2;
}
.grid>img:nth-child(5){
  grid-row: span 2;
  grid-column: span 1 ;
}
.grid>img:nth-child(8){
  border: 2px red solid;
  grid-row: span 2;
  grid-column: span 1 ;
}
.grid>img:nth-child(9){
  border: 2px red solid;
  grid-row: span 2;
  grid-column: span 1 ;
}
.grid>img:nth-child(14){
  border: 2px red solid;
  grid-row: span 1;
  grid-column: span 2 ;
}


