/* init */
*{
  box-sizing: border-box;
} 
@font-face {
  font-family: GotBold;
  src: url(../fonts/Gotham\ Bold.otf);
}
@font-face {
  font-family: GotMed;
  src: url(../fonts/Gotham\ Bold.otf);
  font-weight: 400;
}

a{
  border: 0;
  padding: 10px;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  text-decoration: none;
  text-align: initial;
  color: #FFFFFF;
  
}
body,html{
    height: 1000px;
    margin: 0;
    /* min-height: 100 vh; */
    padding: 0;
    font-family: GotMed;
    color: #FFFFFF;
    
    
}
.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  /* padding: 10px; */
}

/* main-page */
.main-page{
 
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
}

.bg1{
  background-image: url("../img/model-3-hero-desktop.jfif");
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-nav {
  text-align: center;
  /* border: 2px solid black; */
  position: absolute;
  left: 50vh;
  margin-top: 10px;
}

.bg1 li{
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 2px;
  max-width: 75ch;  
  float: left;
  display: list-item;
  list-style: none;
  outline: none
}

.right-menu{
  float: right;
  margin-top: 10px;
}

.bg1 svg{
  float: left;
  width: 7%;
  margin-top: 3px;
  margin-left: 15px;
}
.main-page h1{
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  width: 100%;
  margin-top: 80px;
}

.bg1 .center-bottom{
  /* border: 10px solid black; */
  text-align: center;
  position: absolute;
  top:50vh;
  width: 100%;
  height: 116px;
  /* margin-top: 50%; */
  
  
}
.bg1 .center-bottom .spec{
  
  display:inline-block;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 28px;
  line-height: 36px;
  
}
.bg1 .center-bottom .spec a{
  font-size: 18px;
  inline-size: 160px;
  line-height: 14.5px;
  max-inline-size: 400px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  text-decoration-color: #fff;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  border: #fff 3px solid;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  text-decoration: none;
  text-align: initial;
  color: #FFFFFF;
}

  .line{
    display:inline-block;
    position: absolute;
    height:  50%;
    font-size: 28px;
    line-height: 36px;
    margin-top: 20px;
    border-left: 1px solid #fff;
    
    }